body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bio {
    padding: 20px;
    max-width: 600px;
    font-family: 'Georgia', serif;
}

nav {
    background-color: #095a6a;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

a:hover {
    background-color: #333333;
}

.content {
    flex: 1;
    padding: 20px;
    order: 2;
}

.tab-content {
    display: none;
    padding: 20px;
    border-top: 1px solid #121212;
    background-color: #121212;
    color: #ffffff;
    font-family: 'Georgia', serif;
}

.tab-content.active {
    display: block;
}